h1 {
    font-size: 60px;
    color: $text-color;
    text-align: center;
    font-weight: normal;
    padding: 20px 0px;
}

h6 {
    font-size: 20px;
    margin-bottom: 20px;
}

.title {
    padding: 60px 20px;
    background-color: #EAF0ED;

}

.des {
    padding: 30px 20px 50px 20px;
    color: $text-color;
}